@font-face {
  font-family: "western";
  src: url("../fonts/Go_2_Old_Western.otf");
}
body {
  background-image: url("../images/bg_scene_2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0;
  font-family: "western";
  font-size: 2.5em;
}
body header {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 100px;
  background-image: url("../images/bgtitre.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
}
body header h1 {
  font-size: 1.5em;
  letter-spacing: 3px;
  margin-top: 1%;
  text-align: center;
  font-weight: 100;
  margin-left: 10%;
  text-transform: uppercase;
}
body header h1 #logo {
  width: 15%;
  margin-right: 5%;
  margin-top: 5%;
}
body header #moneysm {
  width: 25px;
  height: 35px;
}
body header #moneygd {
  width: 40px;
  height: 60px;
}
body main {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
body main #bandits {
  position: absolute;
  width: 60%;
}
body main #bandits .bandit {
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
}
body main #bravo_rejouer {
  background-image: url(../images/sherifstar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
  padding: 80px;
  text-transform: uppercase;
  font-family: "western";
  font-size: 1.5em;
  margin-top: 3%;
  display: none;
}
body main #bravo_rejouer:hover {
  opacity: 0.5;
}
body main #bravo_rejouer #textbravo {
  font-size: 0.8em;
}
body main #jouer {
  background-image: url("../images/wheel.png");
  width: 10%;
  height: 10%;
  background-size: cover;
}
body main #wantedlist {
  width: 100%;
  margin-left: 8%;
  margin-top: 3%;
}
body main #wantedlist .wanted {
  width: 15%;
  height: 90%;
}
body main #explication {
  margin-top: 5%;
  margin-left: 10%;
  width: 70%;
  text-align: justify;
}
body main #boutonjouer {
  background-image: url(../images/wheel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
  padding: 45px;
  text-transform: uppercase;
  font-family: "western";
  font-size: 1.5em;
  margin-top: 3%;
}
body main #boutonjouer:hover {
  opacity: 0.5;
}
body main #rejouer {
  background-image: url(../images/buffaloskull.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
  text-transform: uppercase;
  font-family: "western";
  font-size: 0.9em;
  margin-top: 3%;
  display: none;
}
body main #rejouer:hover {
  opacity: 0.5;
}
body main #rejouer #textgameover {
  font-size: 2em;
}
body #cadre_jeu {
  width: 100%;
}
body #cadre_jeu #bandits {
  position: absolute;
  width: 60%;
}
body #cadre_jeu #bandits .bandit {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
}
body #cadre_jeu #bullet {
  width: 0.5%;
  height: 3%;
  position: absolute;
  margin-left: 2.2%;
}
body #cadre_jeu #cowboy {
  position: absolute;
  left: 48%;
  bottom: 0;
  width: 4%;
  height: 9%;
}
body footer {
  display: flex;
}

/*# sourceMappingURL=main.css.map */
